/* CSS For Desktop */
/* Whole Body */
body{
     background-color:white;
     padding-right: 4%;
     padding-left: 4%;
     padding-top: 1%;
     padding-bottom:4%;
     height: auto;
}

/* First Section */
  .topnav  .brand{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 38px;
    font-weight: bold;
    font-family: serif;
  }

  .topnav .link {
    font-size: 20px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:600;
    font-family: sans-serif;
    position: relative;
    left: 20%;
    margin-right: 3%;
    margin-top: 1%;
  }
   
  .topnav .icon {
    display: none;
  }

  .topnav .searchInput  {
    float: right;
    padding: 6px;
    background-color:#ecf0f1;
    margin-top: 1.7%;
    margin-right: 16px;
    border-radius: 20px;
    border: white;
    height: 25px;
    width: 210px;
    padding-top: 0.5%;
    padding-left: 1%;
  }

  .searchInput input {
    border-style: none;
    background-color:#ecf0f1;
    font-size: 20px;
    width:150px;
    color: #d1ccc0;
  }
  
  .topnav  button {
      visibility: hidden;
  }

   /* second section */
  .para {
    position: relative;
    left: 28%;
    margin-top: 10%;
  }

  .para h2 {
    font-size: 70px;
    line-height: 0.25;
    text-align: center;
    position: relative;
    right: 30%;
    font-family: serif;
  }

  .para p {
     font-size: 23px;
     line-height: 0.25;
     text-align: center;
     position: relative;
     right: 30%;
     font-family: 'Mulish', sans-serif;
     color: gray;
  }

  .para .started {
    position: relative;
    left: 13%;
    margin-top: 1%;
    width: 150px;
    height: 20px;
    background-color:#1e3799;
    color: white;
    border-radius: 12px;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 0.9%;
  }
  
  /* third section */ 
   .third img {
     margin-top: 6%;
     margin-left: 8%;
     height : 500px;
     width:750px;
     border-radius: 12px;
     float:left;
   }

   .third .para2 {
     background-color: white;
     border:none;
     margin-left: 790px;
     position: absolute;
     top:91%;
     width: 390px;
     padding: 2% 5% 3% 5%;
     border-radius: 15px;
     box-shadow: 10px 10px 30px 0px whitesmoke;
   }

   .third h2 {
     font-size: 40px;
     line-height: 1;
   }

   .third p  {
     font-size: 20px;
   }

   .third .para2 p  {
     font-family: sans-serif;
   }

   .third .blue {
     color: #4834d4;
   }
   .third .line {
     color: #bdc3c7;
   }

   /* fourth section */
   .fourth-A {
     visibility: hidden;
   }

    .fa-twitter {
     margin-right: 2%;
     position: absolute;
     top:146%;
     right:26%;
   }

   .fa-facebook {
    position: absolute;
    top:146%;
    right:24%;
   }

   .fa-instagram {
    position: absolute;
    top:146%;
    right:20%;
   }

   .fa-linkedin-in {
    position: absolute;
    top:146%;
    right:16%;
   }

   /* fifth section */
   .fifth {
     background-color:#1e3799;
     margin-left: 7%;
     margin-right: 5%;
     padding: 2% 5% 5% 5%;
     color: white;
     position:absolute;
     top:170%;
     bottom: 10%;
     border-radius: 20px;
     width:1050px;
     height:500px;
     box-shadow: 10px 10px 30px #dfe4ea;
   }

   .fifth h1 {
     position: relative;
     left: 30%;
     margin-top: 3%;
     margin-bottom: 4%;
     font-size: 50px;
     color: #ffffff;
   }

   .fifth .writers1 {
     float:left;
     height:220px;
     width:220px;
     text-align: center;
     margin-right: 4%;
     font-family: sans-serif;
     font-size: 15px;
   }

   .fifth .writers2 {
    float:left;
    height:220px;
    width:220px;
    text-align: center;
    margin-right: 4%;
    font-family: sans-serif;
    font-size: 15px;
   }

   .fifth img {
     height: 100px;
     width:100px;
     border-radius: 50%;
   }
   
   hr {
     border-color: white;
     width: 1px;
     border-style: dotted;
   }

   .blue {
     color:#273c75;
   }

   /* CSS for mobile (max-width: 420px) */
  
@media screen and (max-width: 420px) {
  /* Whole body section */
    body {
        padding-left: 10%;
        padding-top: 5%;
        padding-right: 10%;
        background-color:#ecf0f1;
    }

    /* First section */
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: left;
      display: block;
     
    }
    .topnav strong {
        position: relative;
        left: 125%;
        font-size: 70px;
    font-weight: bold;
    font-family: serif;
    }
    #leftbar {
        position: absolute;
        top:7%;
      }
    
    .topnav .searchInput {
        visibility: hidden;
    }
    /* search bar */
   .topnav button i {
      visibility: visible;
      height: 60px;
      width: 60px;
      border: 1px ;
      border-radius: 50%;
      position: absolute;
      left: 280%;
      top:9%;
    }

  /* second section */
  .para {
    position: absolute;
    top:25%;
    left:100%;
    width:1100px;
  }
  .para h2 {
    font-size: 110px;
    line-height: 0.25;
    text-align: center;
    font-family: serif;
  }
  .para p {
    font-size: 40px;
    line-height: 0.25;
    text-align: center;
    margin-top: 3%;
    font-family: 'Mulish', sans-serif;
    color: gray;
 }
 .para .started {
  position: relative;
  left: 5%;
  margin-top: 1%;
  width: 280px;
  height: 20px;
  background-color:#1e3799;
  color: white;
  border-radius: 12px;
  padding-top: 4%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 4%;
}

/* third section */
.third {
  position: absolute;
  top:140%;
}
.third img {
  margin-top: 6%;
  height :600px;
  width:900px;
  border-radius: 50px;
}

.third .para2 {
  background-color: white;
  border:none;
  margin-left: 150px;
  position: absolute;
  top:80%;
  width: 650px;
  padding: 2% 5% 3% 5%;
  border-radius: 50px;
  box-shadow: 10px 30px 50px  #dcdde1;
}

.third h2 {
  font-size: 60px;
  line-height: 1;
}

.third p  {
  font-size: 40px;
}

.third .para2 p  {
  font-family: sans-serif;
}

.third .blue {
  color: #4834d4;
}
.third .line {
  color: #bdc3c7;
}

/* fourth section */
.fourth {
  visibility: hidden;
}

.fourth-A {
  visibility: visible;
}
 .fa-twitter {
  margin-right: 2%;
  position: absolute;
  top:340%;
  right:-25%;
}

.fa-facebook {
 position: absolute;
 top:340%;
 right:-55%;
}

.fa-instagram {
 position: absolute;
 top:340%;
 right:-85%;
}

.fa-linkedin-in {
 position: absolute;
 top:340%;
 right:-115%;
}

/* fifth section */
.fifth {
  background-color:#1e3799;
  margin-left: 15%;
  margin-right: 5%;
  margin-bottom: 20%;
  padding: 2% 5% 5% 5%;
  color: white;
  position:absolute;
  top:370%;
  bottom: 10%;
  border-radius: 20px;
  width:900px;
  height: max-content;
  box-shadow: 10px 10px 30px #dfe4ea;
}

.fifth h1 {
  position: relative;
  left: 20%;
  margin-top: 10%;
  margin-bottom: 14%;
  font-size: 70px;
  color: #ffffff;
}


.fifth .writers1 {
  float:left;
  height:390px;
  width:400px;
  text-align: center;
  margin-right: 4%;
  font-family: sans-serif;
  font-size: 30px;
}

.fifth .writers2 {
 float:left;
 height:390px;
 width:400px;
 text-align: center;
 margin-right: 4%;
 font-family: sans-serif;
 font-size: 30px;
}

.fifth img {
  height: 200px;
  width:200px;
  border-radius: 50%;
}

hr {
  border-color: white;
  width: 1px;
  border-style: dotted;
}

.blue {
  color:#273c75;
}

}
  
